body {
  font-family: Arial;
  background: #111827;
  color: white;
  text-align: center;
  padding: 20px;
}

button {
  background: #ef4444;
  border: none;
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
}
